:root{
	size: 10px;
	font-size: 10px;
	background-color: #E5E5E5;
} 
.corps{
	background-color: black;
	width: fit-content;
	text-align: center;
	border-radius: 1rem;
	margin: auto;
}
.display{
	background:green; 
	padding: 1.5rem;	
	box-sizing: border-box;
	border-radius: 1rem;
	font-size: 5rem;
	margin: 2rem;	
}
.displayStop{
	background: red;
}
.displayReset{
	background: silver;
} 
.display span{
	font-size: 5rem;
}
button{
	text-transform: uppercase;
	color: white;
	background: black;		
	padding-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-size: 2rem;
}

.numberPhone{
	margin: auto;
	display: flex;
    justify-content: center;	
}
.enterNumber{
	margin: auto;
	font-size: 3rem;
	display: flex;
    justify-content: center;
}
.numberPhone input{
	font-size: 2rem;
}
